.carousel__title {
  font-size: 9vw !important;
  margin-bottom: 5vw !important;
}

.carousel__secondary {
  font-size: 2vw !important;
  text-align: justify;
  color: var(--secondary);
}

@media (max-width: 600px) {
  .carousel__title {
    font-size: 12vw !important;
    margin-bottom: 2vw !important;
  }
  .carousel__secondary {
    font-size: 4vw !important;
  }
}
