.vizualizer__container {
  margin-top: 10px;
  height: 100vh;
}
.vizualizer__box {
  width: 70vw !important;
}

.vizualizer__content {
  overflow-y: auto;
  height: 30vh!important;
  text-align: justify;
}

.vizualizer__media {
  width: 100%;
  height: 35vw;
  background-color: var(--main-background) !important;
}

.vizualizer__iframe {
  border: none;
}

.vizualizer__iframe__box {
  background-color: black;
}
.vizualizer__media,
.vizualizer__iframe__box {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.vizualizer__iframe,
.vizualizer__box {
  width: 55vw;
  height: 33vw;
}

.vizualizer__title {
  font-size: 9vw !important;
  margin-bottom: 5vw !important;
}

.vizualizer__secondary {
  font-size: 2vw !important;
  text-align: justify;
  color: var(--secondary);
}

@media (max-width: 600px) {
  .vizualizer__container{
    flex-direction: column;
  }
  .vizualizer__box{
    width: 100vw!important;
    height: 50vh!important;
  }
  .vizualizer__content,
  .vizualizer__media {
    height: 30vh;width: 100vw;
  }
  .vizualizer__content {
    height: 20vh!important;
  }

  .vizualizer__iframe,
  .vizualizer__box {
    width: 90vw;
    height: 50.9vw;
  }

  .vizualizer__title {
    font-size: 12vw !important;
    margin-bottom: 2vw !important;
  }
  .vizualizer__secondary {
    font-size: 4vw !important;
  }
}
