.game__card {
    width: 20vw;
    height: 15vw;
    background-color: rgb(67, 20, 128);
    border-radius: 4px;
    border: thin solid 2px;
    overflow: hidden;
    padding: 3px;
}

.card__name {
    transition: all .5s;
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.483);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    word-break:normal
}

.name {
    font-size: 100% !important;
    font-family: '8-bit'!important;
    margin-bottom: 1vw !important;
}

.card__name:hover {
    opacity: 1;
}

.card__img {
    border-radius: inherit;
    width: 100%;
}

@media (max-width:600px){
    .game__card {
        width: 80vw;
        height: 60vw;
    }
}