@font-face {
  font-family: "8-bit";
  src: url(./assets/fonts/8-bit-hud.ttf) format("truetype");
}
:root {
  --secondary: #575757;
  --main-background: #292929;
  --blacko4:rgba(0, 0, 0, 0.483);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-background);
}
